* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #222;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

/* header: main_visual */
.main_visual {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}
.main_visual h1 {
    display: inline-block;
    font-size: 35px;
    font-weight: 400;
    border-bottom: 1px dashed #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.main_visual p {
    position: relative;
    margin: 40px 0 12px;
    padding-left: 20px;
}
.main_visual p::after {
    position: absolute;
    top:-10px; left: 15px;
    content: '';
    width: 5px; height: 5px;
    background: rgb(255, 81, 0);
    border-radius: 50%;
}
.main_visual .ul_wrap {
    display: flex;
}
.main_visual ul {
    position: relative;
}
.main_visual ul::after {
    content:"";
    position: absolute;
    top: 13%; left: 25px;
    width: 1.5px;
    height: 80%;
    background: rgba(255, 81, 0, 0.4);
}
.main_visual li {
    line-height: 2;
    padding-left: 45px;
}
.main_visual li.active a, .main_visual li:hover a {
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
}

.main_visual li a {
    color: #CCC;
    font-size: 14px;
}